<div class="site-footer">
				<div id="footer-widgets" class="site footer-widgets">
				<div class="footer-widgets-container grid-container">
					<div class="inside-footer-widgets">
							<div class="footer-widget-1">
		<div class="menu-footer-container"><ul id="menu-footer" class="menu"><li class=""><a href="/"">TOP</a></li>
<li class=""><a href="/information/">お知らせ</a></li>
<li class=""><a href="/evernt/">evernt</a></li>
<li class=""><a href="/q/">Qムーヴメントって何?</a></li>
<li class=""><a href="https://ss1.xrea.com/zent.s1009.xrea.com/" target="_blank">8kunって何？</a></li>
<li class=""><a href="https://qposts.in/japanese" target="_blank">QPosts.in</a></li>
<li class=""><a href="https://qajf-qmapjapan-pub.officialblog.jp" target="_blank">QmapJapan.pub</a></li>
</ul></div>	</div>
		<div class="footer-widget-2">
		<div class="menu-footer2-container"><ul class="menu"><li class=""><a target="_blank" rel="noopener" href="https://gab.com/EriQmapJapan">okabaeri9111gabアカウント</a></li>
<li class=""><a target="_blank" rel="noopener" href="https://senyouyo.wixsite.com/account">隊員リスト</a></li>
<li class=""><a target="_blank" rel="noopener" href="https://odysee.com/@qarmyjapanflynn:a">QAJF動画Odysee</a></li>
<li class=""><a target="_blank" rel="noopener" href="https://www.bitchute.com/channel/shmVHeJepB6w/">QAJF動画BITCHUTE</a></li>
<li class=""><a target="_blank" rel="noopener" href="https://t.me/QArmyJapanFlynn">QAJF公式Telegram Channel</a></li>
<li class=""><a target="_blank" rel="noopener" href="http://qajf.tk">QAJF Twitterまとめ</a></li>
<li class=""><a target="_blank" rel="noopener" href="https://qajf.officialblog.jp">QAJFレッドピルニュース</a></li>
</ul></div></div>
		<div class="footer-widget-3">
		<ul class="menu"><li class=""><a target="_blank" rel="noopener" href="https://tarouxx7.wixsite.com/mysite">QAJF&amp;QAnons LIVE</a></li>
<li class=""><a target="_blank" rel="noopener" href="https://www.qajf.epizy.com/ra-2/">レッドピルラジオショー</a></li>
<li class=""><a href="/tools/">Q活ツール</a></li>
<li class=""><a href="https://www.qajf.epizy.com/meme/">ミーム</a></li>
</ul></div><div class="menu-footer4-container"><ul class="menu"><li class=""><a href="/blog/">公式ブログ</a></li>
<li class=""><a href="https://www.qajf.epizy.com/link/">隊員たちの活動</a></li>
</ul></div></div>
						</div>
				</div>
			</div>
					
			<div class="inside-site-info grid-container">
								<div class="has-text-align-center copyright-bar">
					    ©2022 by QArmyJapanFlynn 
    				</div>
			</div>
		</footer>
		</div>
