<div class="site-footer">
				<div id="footer-widgets" class="site footer-widgets">
				<div class="footer-widgets-container grid-container">
					<div class="inside-footer-widgets">
							<div class="footer-widget-1">
		<aside id="nav_menu-3" class="widget inner-padding widget_nav_menu"><div class="menu-footer-container"><ul id="menu-footer" class="menu"><li id="menu-item-2085" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-475 current_page_item menu-item-2085"><a href="https://www.qajf.epizy.com/" aria-current="page">TOP</a></li>
<li id="menu-item-2110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2110"><a href="https://www.qajf.epizy.com/information/">お知らせ</a></li>
<li id="menu-item-2086" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2086"><a href="https://www.qajf.epizy.com/evernt/">evernt</a></li>
<li id="menu-item-2109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2109"><a href="https://www.qajf.epizy.com/q/">Qムーヴメントって何?</a></li>
<li id="menu-item-2108" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2108"><a href="https://ss1.xrea.com/zent.s1009.xrea.com/">8kunって何？</a></li>
<li id="menu-item-2257" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2257"><a href="https://qposts.in/japanese">QPosts.in</a></li>
<li id="menu-item-2258" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2258"><a href="https://qajf-qmapjapan-pub.officialblog.jp">QmapJapan.pub</a></li>
</ul></div></aside>	</div>
		<div class="footer-widget-2">
		<aside id="nav_menu-5" class="widget inner-padding widget_nav_menu"><div class="menu-footer2-container"><ul id="menu-footer2" class="menu"><li id="menu-item-2111" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2111"><a target="_blank" rel="noopener" href="https://gab.com/EriQmapJapan">okabaeri9111gabアカウント</a></li>
<li id="menu-item-2112" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2112"><a target="_blank" rel="noopener" href="https://senyouyo.wixsite.com/account">隊員リスト</a></li>
<li id="menu-item-2246" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2246"><a target="_blank" rel="noopener" href="https://odysee.com/@qarmyjapanflynn:a">QAJF動画Odysee</a></li>
<li id="menu-item-2247" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2247"><a target="_blank" rel="noopener" href="https://www.bitchute.com/channel/shmVHeJepB6w/">QAJF動画BITCHUTE</a></li>
<li id="menu-item-2248" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2248"><a target="_blank" rel="noopener" href="https://t.me/QArmyJapanFlynn">QAJF公式Telegram Channel</a></li>
<li id="menu-item-2249" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2249"><a target="_blank" rel="noopener" href="http://qajf.tk">QAJF Twitterまとめ</a></li>
<li id="menu-item-2250" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2250"><a target="_blank" rel="noopener" href="https://qajf.officialblog.jp">QAJFレッドピルニュース</a></li>
</ul></div></aside>	</div>
		<div class="footer-widget-3">
		<aside id="nav_menu-7" class="widget inner-padding widget_nav_menu"><div class="menu-footer3-container"><ul id="menu-footer3" class="menu"><li id="menu-item-2251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2251"><a target="_blank" rel="noopener" href="https://tarouxx7.wixsite.com/mysite">QAJF&amp;QAnons LIVE</a></li>
<li id="menu-item-2253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2253"><a target="_blank" rel="noopener" href="https://www.qajf.epizy.com/ra-2/">レッドピルラジオショー</a></li>
<li id="menu-item-2254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2254"><a href="https://www.qajf.epizy.com/tools/">Q活ツール</a></li>
<li id="menu-item-2255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2255"><a href="https://www.qajf.epizy.com/meme/">ミーム</a></li>
</ul></div></aside><aside id="nav_menu-8" class="widget inner-padding widget_nav_menu"><div class="menu-footer4-container"><ul id="menu-footer4" class="menu"><li id="menu-item-2259" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2259"><a href="https://www.qajf.epizy.com/blog/">公式ブログ</a></li>
<li id="menu-item-2260" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2260"><a href="https://www.qajf.epizy.com/link/">隊員たちの活動</a></li>
</ul></div></aside>	</div>
						</div>
				</div>
			</div>
					<footer class="site-info" aria-label="サイト" itemtype="https://schema.org/WPFooter" itemscope="">
			<div class="inside-site-info grid-container">
								<div class="copyright-bar">
					    ©2022 by QArmyJapanFlynn 
    				</div>
			</div>
		</footer>
		</div>
